/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

.sidebarNav {
    width: 250px;
    /* Or whatever width you prefer */
    overflow-y: auto;
}

.sticky-header {
    position: sticky !important;
    // top: 0 !important;
}